@import "~bulma/sass/utilities/_all";

.is-viewport-height {
  height: 100vh;
}
  
.has-direction-column {
  flex-direction: column;
}

.is-fullheight {
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  .main-layout {
      display: flex;
      flex-direction: row;
      min-height: 100%;
  }
}

.main-content{
  flex: 1;
  padding: 1rem !important;
}


.is-sidebar-menu {
  padding: 1rem !important;
}

.is-login{
  padding: 1rem !important;
}

.task.input{
  box-sizing: content-box !important;
  background-color: transparent !important;
  outline: none !important;
  outline-style: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  /*
  Someone decided that borders change box size even with box-sizing: content-box;
  Outline could be a better workaround, but they cannot be applied only to one side.
  Therefore the following "bad" workaround:
  */
  height: 23px !important;
  border-bottom: solid 1px !important;
  padding: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin: 0px !important;
  &.name{
    font-weight: bold !important;
  }
}

::-webkit-scrollbar {
  display: none;
}


@import "~bulma";
@import "~buefy/src/scss/buefy";
