@import "~bulma/sass/utilities/_all";

.is-viewport-height {
  height: 100vh;
}
  
.has-direction-column {
  flex-direction: column;
}
.columns {
  &.is-fullheight {
    flex: 1;
    margin: 0 !important;
    .column {
      overflow-y: auto;
    }
  }
}

.is-sidebar-menu {
  padding: 1rem !important;
}

.is-login{
  padding: 1rem !important;
}

.task.input{
  .name{
    font-weight: bold;
  }
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
