@import "~bulma/sass/utilities/_all";

.is-viewport-height {
  height: 100vh;
}
  
.has-direction-column {
  flex-direction: column;
}
.columns {
  &.is-fullheight {
    flex: 1;
    margin: 0 !important;
    .column {
      overflow: visible;
    }
  }
}

.is-sidebar-menu {
  padding: 1rem !important;
}


.is-login{
  padding: 1rem !important;
}

.task.input{
  box-sizing: content-box !important;
  background-color: transparent !important;
  outline: none !important;
  outline-style: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  /*
  Someone decided that borders change box size even with box-sizing: content-box;
  Outline could be a better workaround, but they cannot be applied only to one side.
  Therefore the following "bad" workaround:
  */
  height: 23px !important;
  border-bottom: solid 1px !important;
  padding: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin: 0px !important;
  &.name{
    font-weight: bold !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
